.package {
  margin-top: rem(50);
  margin: rem(100) 0;
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    @media (max-width: 1024px) {
      display: block;
    }
  }
  &-section-title {
    font-size: rem(35);

    &::after {
      width: 110%;
      height: 3px;
      background: $red;
      content: "";
      display: block;
      margin-top: rem(15);
    }
    @media (max-width: 1024px) {
      text-align: center;
      margin-bottom: rem(45);
      font-size: rem(45);
      &::after {
        width: 75%;
        margin: rem(15) auto;
      }
    }
  }
  &-wrapper {
    max-width: 23%;
    -webkit-box-shadow: 0px 0px 67px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 67px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 67px -21px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    @media (max-width: 1024px) {
      max-width: 75%;
      margin: 0 auto;
      margin-bottom: rem(35);
    }
  }
  &-image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 100%;
    max-height: rem(180);
    overflow: hidden;
    @media (max-width: 1024px) {
      max-height: 35rem;
    }
  }
  &-info {
    padding: rem(15);
    * {
      margin-bottom: rem(25);
      @media (max-width: 1024px) {
        margin-bottom: 25px;
      }
    }
    
  }
  &-title {
    font-size: rem(18);
    line-height: rem(25);
    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  &-duration {
    font-size: rem(15);
    @media (max-width: 1024px) {
      font-size: 15px;
    }
  }
  &-desc {
    font-size: rem(12);
    line-height: rem(20);
    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 20px;
    }
  }
  &-advantages {
    ul {
      li {
        margin-bottom: rem(15);
        @media (max-width: 1024px) {
          font-size: 15px;
        }
      }
    }
  }
  &-prices {
    font-size: rem(15);
    line-height: rem(25);
    span {
      font-size: rem(25);
    }
    @media (max-width: 1024px) {
      font-size: 15px;
      line-height: 25px;
      span {
        font-size: 25px;
      }
    }
  }
  &-button {
    a {
      width: 100%;
      text-align: center;
      background: $red;
      color: $white;
      padding: 1rem;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        background: $dark-red;
      }
      @media (max-width: 1024px) {
        font-size: 15px;
      }
    }
  }
}
